Client/Connected Services/MainService/GaiWcfService.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
  <xs:complexType name="EmployeeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="certificateId" type="xs:int" />
      <xs:element minOccurs="0" name="hireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rank" type="tns:Post" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userId" type="xs:int" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDto" nillable="true" type="tns:EmployeeDto" />
  <xs:simpleType name="Post">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRIVATE" />
      <xs:enumeration value="SERGEANT" />
      <xs:enumeration value="LEIUTENANT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="ViolationTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxPenalty" type="xs:decimal" />
      <xs:element minOccurs="0" name="minPenalty" type="xs:decimal" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationTypeDto" nillable="true" type="tns:ViolationTypeDto" />
  <xs:complexType name="PersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualPenalty" type="xs:double" />
      <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="driverLicense" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paidPenalty" type="xs:double" />
      <xs:element minOccurs="0" name="passportId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDto" nillable="true" type="tns:PersonDto" />
  <xs:complexType name="ArrayOfViolationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationDto" nillable="true" type="tns:ViolationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationDto" nillable="true" type="tns:ArrayOfViolationDto" />
  <xs:complexType name="ViolationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="locationE" type="xs:double" />
      <xs:element minOccurs="0" name="locationN" type="xs:double" />
      <xs:element minOccurs="0" name="penalty" type="xs:double" />
      <xs:element minOccurs="0" name="personId" type="xs:int" />
      <xs:element minOccurs="0" name="protocolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shiftId" type="xs:int" />
      <xs:element minOccurs="0" name="violationTypeId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationDto" nillable="true" type="tns:ViolationDto" />
  <xs:complexType name="ArrayOfViolationTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationTypeDto" nillable="true" type="tns:ViolationTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationTypeDto" nillable="true" type="tns:ArrayOfViolationTypeDto" />
</xs:schema>