Client/Connected Services/MainService/GaiWcfService.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDto" nillable="true" type="tns:UserDto" />
  <xs:complexType name="ArrayOfUserDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserDto" nillable="true" type="tns:UserDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserDto" nillable="true" type="tns:ArrayOfUserDto" />
  <xs:complexType name="EmployeeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="certificateId" type="xs:int" />
      <xs:element minOccurs="0" name="hireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userLogin" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDto" nillable="true" type="tns:EmployeeDto" />
  <xs:complexType name="ArrayOfEmployeeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EmployeeDto" nillable="true" type="tns:EmployeeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployeeDto" nillable="true" type="tns:ArrayOfEmployeeDto" />
  <xs:complexType name="ShiftDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="responsibleId" type="xs:int" />
      <xs:element minOccurs="0" name="start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShiftDto" nillable="true" type="tns:ShiftDto" />
  <xs:complexType name="ArrayOfShiftDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShiftDto" nillable="true" type="tns:ShiftDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShiftDto" nillable="true" type="tns:ArrayOfShiftDto" />
  <xs:complexType name="ViolationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="latitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="longitude" nillable="true" type="xs:double" />
      <xs:element minOccurs="0" name="penalty" type="xs:double" />
      <xs:element minOccurs="0" name="personId" type="xs:int" />
      <xs:element minOccurs="0" name="protocolId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shiftId" type="xs:int" />
      <xs:element minOccurs="0" name="violationTypeId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationDto" nillable="true" type="tns:ViolationDto" />
  <xs:complexType name="ArrayOfViolationDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationDto" nillable="true" type="tns:ViolationDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationDto" nillable="true" type="tns:ArrayOfViolationDto" />
  <xs:complexType name="ViolationTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="maxPenalty" type="xs:decimal" />
      <xs:element minOccurs="0" name="minPenalty" type="xs:decimal" />
      <xs:element minOccurs="0" name="paydayAfter" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationTypeDto" nillable="true" type="tns:ViolationTypeDto" />
  <xs:complexType name="PersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="actualPenalty" type="xs:double" />
      <xs:element minOccurs="0" name="birthday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="driverLicense" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paidPenalty" type="xs:double" />
      <xs:element minOccurs="0" name="passportId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonDto" nillable="true" type="tns:PersonDto" />
  <xs:complexType name="ArrayOfPersonDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonDto" nillable="true" type="tns:PersonDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonDto" nillable="true" type="tns:ArrayOfPersonDto" />
  <xs:complexType name="ArrayOfPaymentDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentDto" nillable="true" type="tns:PaymentDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentDto" nillable="true" type="tns:ArrayOfPaymentDto" />
  <xs:complexType name="PaymentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:double" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="personId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentDto" nillable="true" type="tns:PaymentDto" />
  <xs:complexType name="ArrayOfRoleDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoleDto" nillable="true" type="tns:RoleDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoleDto" nillable="true" type="tns:ArrayOfRoleDto" />
  <xs:complexType name="RoleDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="role" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoleDto" nillable="true" type="tns:RoleDto" />
  <xs:complexType name="ArrayOfViolationTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ViolationTypeDto" nillable="true" type="tns:ViolationTypeDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfViolationTypeDto" nillable="true" type="tns:ArrayOfViolationTypeDto" />
</xs:schema>