Client/Connected Services/MainService/GaiWcfService.Dto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AdminDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdminDto" nillable="true" type="tns:AdminDto" />
  <xs:complexType name="ArrayOfAdminDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdminDto" nillable="true" type="tns:AdminDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdminDto" nillable="true" type="tns:ArrayOfAdminDto" />
  <xs:complexType name="EmployeeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="certificateId" type="xs:int" />
      <xs:element minOccurs="0" name="hireDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rank" type="tns:Post" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EmployeeDto" nillable="true" type="tns:EmployeeDto" />
  <xs:simpleType name="Post">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRIVATE" />
      <xs:enumeration value="SERGEANT" />
      <xs:enumeration value="LEIUTENANT" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="PaymentDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="isPaid" type="xs:boolean" />
      <xs:element minOccurs="0" name="payday" type="xs:dateTime" />
      <xs:element minOccurs="0" name="violatorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PaymentDto" nillable="true" type="tns:PaymentDto" />
  <xs:complexType name="ShiftDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="end" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="responsibleId" type="xs:int" />
      <xs:element minOccurs="0" name="start" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShiftDto" nillable="true" type="tns:ShiftDto" />
  <xs:complexType name="ViolationDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="car_number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="locationE" type="xs:double" />
      <xs:element minOccurs="0" name="locationN" type="xs:double" />
      <xs:element minOccurs="0" name="penalty" type="xs:double" />
      <xs:element minOccurs="0" name="violationTypeId" type="xs:int" />
      <xs:element minOccurs="0" name="violatorId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationDto" nillable="true" type="tns:ViolationDto" />
  <xs:complexType name="ViolationTypeDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="minPenalty" type="xs:double" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolationTypeDto" nillable="true" type="tns:ViolationTypeDto" />
  <xs:complexType name="ViolatorDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="actual_penalty" type="xs:double" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="paid_penalty" type="xs:double" />
      <xs:element minOccurs="0" name="passportId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="patronymic" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ViolatorDto" nillable="true" type="tns:ViolatorDto" />
</xs:schema>