Client/Connected Services/MainService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="AdminServiceTcpEndpointAdmin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="UserServiceTcpEndpointUser_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetUserByLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByLogin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetUserByLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_getAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="IAdminService_getAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployee" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditShift_InputMessage">
    <wsdl:part name="parameters" element="tns:EditShift" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddViolationType_InputMessage">
    <wsdl:part name="parameters" element="tns:AddViolationType" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddViolationType_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddViolationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditViolationType_InputMessage">
    <wsdl:part name="parameters" element="tns:EditViolationType" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditViolationType_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditViolationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteViolationType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolationType" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteViolationType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddShift_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShift" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllViolations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolations" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllViolations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolationsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddViolation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddViolation" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddViolation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddViolationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditViolation_InputMessage">
    <wsdl:part name="parameters" element="tns:EditViolation" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditViolation_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditViolationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteViolation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolation" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteViolation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllViolationTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolationTypes" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllViolationTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolationTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddUser" message="tns:IAdminService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddUserResponse" message="tns:IAdminService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetUser" message="tns:IAdminService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetUserResponse" message="tns:IAdminService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserByLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetUserByLogin" message="tns:IAdminService_GetUserByLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetUserByLoginResponse" message="tns:IAdminService_GetUserByLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditUser" message="tns:IAdminService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditUserResponse" message="tns:IAdminService_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/getAllUsers" message="tns:IAdminService_getAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/getAllUsersResponse" message="tns:IAdminService_getAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddEmployee" message="tns:IAdminService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddEmployeeResponse" message="tns:IAdminService_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditEmployee" message="tns:IAdminService_EditEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditEmployeeResponse" message="tns:IAdminService_EditEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteEmployee" message="tns:IAdminService_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteEmployeeResponse" message="tns:IAdminService_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditShift" message="tns:IAdminService_EditShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditShiftResponse" message="tns:IAdminService_EditShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddViolationType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddViolationType" message="tns:IAdminService_AddViolationType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddViolationTypeResponse" message="tns:IAdminService_AddViolationType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditViolationType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditViolationType" message="tns:IAdminService_EditViolationType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditViolationTypeResponse" message="tns:IAdminService_EditViolationType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteViolationType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteViolationType" message="tns:IAdminService_DeleteViolationType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteViolationTypeResponse" message="tns:IAdminService_DeleteViolationType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddPerson" message="tns:IAdminService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddPersonResponse" message="tns:IAdminService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditPerson" message="tns:IAdminService_EditPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditPersonResponse" message="tns:IAdminService_EditPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeletePerson" message="tns:IAdminService_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeletePersonResponse" message="tns:IAdminService_DeletePerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="AddShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddShift" message="tns:IUserService_AddShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddShiftResponse" message="tns:IUserService_AddShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllViolations">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllViolations" message="tns:IUserService_GetAllViolations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllViolationsResponse" message="tns:IUserService_GetAllViolations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddViolation">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddViolation" message="tns:IUserService_AddViolation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddViolationResponse" message="tns:IUserService_AddViolation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditViolation">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/EditViolation" message="tns:IUserService_EditViolation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/EditViolationResponse" message="tns:IUserService_EditViolation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteViolation">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteViolation" message="tns:IUserService_DeleteViolation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteViolationResponse" message="tns:IUserService_DeleteViolation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllViolationTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllViolationTypes" message="tns:IUserService_GetAllViolationTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllViolationTypesResponse" message="tns:IUserService_GetAllViolationTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetPerson" message="tns:IUserService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetPersonResponse" message="tns:IUserService_GetPerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceTcpEndpointAdmin" type="tns:IAdminService">
    <wsp:PolicyReference URI="#AdminServiceTcpEndpointAdmin_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserByLogin">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetUserByLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/getAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditShift">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddViolationType">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddViolationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditViolationType">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditViolationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteViolationType">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeleteViolationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeletePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceTcpEndpointUser" type="tns:IUserService">
    <wsp:PolicyReference URI="#UserServiceTcpEndpointUser_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddShift">
      <soap12:operation soapAction="http://tempuri.org/IUserService/AddShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllViolations">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetAllViolations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddViolation">
      <soap12:operation soapAction="http://tempuri.org/IUserService/AddViolation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditViolation">
      <soap12:operation soapAction="http://tempuri.org/IUserService/EditViolation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteViolation">
      <soap12:operation soapAction="http://tempuri.org/IUserService/DeleteViolation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllViolationTypes">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetAllViolationTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="AdminServiceTcpEndpointAdmin" binding="tns:AdminServiceTcpEndpointAdmin">
      <soap12:address location="net.tcp://localhost:9007/AdminService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9007/AdminService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-4KEPV7Q</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="UserServiceTcpEndpointUser" binding="tns:UserServiceTcpEndpointUser">
      <soap12:address location="net.tcp://localhost:9007/UserService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9007/UserService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-4KEPV7Q</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>