Client/Connected Services/MainService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" />
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdimn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="admin" nillable="true" type="q1:AdminDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAdimnResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="admin" nillable="true" type="q2:AdminDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditAdminResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAdmins">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getAllAdminsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="getAllAdminsResult" nillable="true" type="q3:ArrayOfAdminDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="employee" nillable="true" type="q4:EmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="employee" nillable="true" type="q5:EmployeeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmployeeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="payment" nillable="true" type="q6:PaymentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="payment" nillable="true" type="q7:PaymentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaymentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="shift" nillable="true" type="q8:ShiftDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShiftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="shift" nillable="true" type="q9:ShiftDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditShiftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShift">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="violation" nillable="true" type="q10:ViolationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditViolation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="violation" nillable="true" type="q11:ViolationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditViolationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="violationType" nillable="true" type="q12:ViolationTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolationTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditViolationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="violationType" nillable="true" type="q13:ViolationTypeDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditViolationTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolationType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolationTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolator">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="violator" nillable="true" type="q14:ViolatorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolatorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditViolator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="violator" nillable="true" type="q15:ViolatorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditViolatorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolator">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolatorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaymentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="payment" nillable="true" type="q16:PaymentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaymentUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPaymentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="payment" nillable="true" type="q17:PaymentDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditPaymentUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaymentUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePaymentUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShiftUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="shift" nillable="true" type="q18:ShiftDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShiftUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditShiftUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="shift" nillable="true" type="q19:ShiftDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditShiftUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteShiftUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="violation" nillable="true" type="q20:ViolationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolationUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditViolationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="violation" nillable="true" type="q21:ViolationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditViolationUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolationUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolatorUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="violator" nillable="true" type="q22:ViolatorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddViolatorUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditViolatorUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" minOccurs="0" name="violator" nillable="true" type="q23:ViolatorDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditViolatorUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolatorUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteViolatorUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>