Client/Connected Services/MainService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="AdminServiceTcpEndpointAdmin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="UserServiceTcpEndpointUser_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="IAdminService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddAdimn_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAdimn" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddAdimn_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAdimnResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:EditAdmin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditAdminResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_getAllAdmins_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAdmins" />
  </wsdl:message>
  <wsdl:message name="IAdminService_getAllAdmins_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAdminsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployee" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditShift_InputMessage">
    <wsdl:part name="parameters" element="tns:EditShift" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllViolations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolations" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllViolations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolationsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteViolation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolation" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteViolation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolationResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddViolationType_InputMessage">
    <wsdl:part name="parameters" element="tns:AddViolationType" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddViolationType_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddViolationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditViolationType_InputMessage">
    <wsdl:part name="parameters" element="tns:EditViolationType" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditViolationType_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditViolationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteViolationType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolationType" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteViolationType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPayment" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPayment" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeletePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePayment" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeletePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddShift_InputMessage">
    <wsdl:part name="parameters" element="tns:AddShift" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddViolation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddViolation" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddViolation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddViolationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditViolation_InputMessage">
    <wsdl:part name="parameters" element="tns:EditViolation" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditViolation_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditViolationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllViolationTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolationTypes" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllViolationTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolationTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/Test" message="tns:IAdminService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/TestResponse" message="tns:IAdminService_Test_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAdimn">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddAdimn" message="tns:IAdminService_AddAdimn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddAdimnResponse" message="tns:IAdminService_AddAdimn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditAdmin" message="tns:IAdminService_EditAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditAdminResponse" message="tns:IAdminService_EditAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAdmins">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/getAllAdmins" message="tns:IAdminService_getAllAdmins_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/getAllAdminsResponse" message="tns:IAdminService_getAllAdmins_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddEmployee" message="tns:IAdminService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddEmployeeResponse" message="tns:IAdminService_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditEmployee" message="tns:IAdminService_EditEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditEmployeeResponse" message="tns:IAdminService_EditEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteEmployee" message="tns:IAdminService_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteEmployeeResponse" message="tns:IAdminService_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditShift" message="tns:IAdminService_EditShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditShiftResponse" message="tns:IAdminService_EditShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllViolations">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllViolations" message="tns:IAdminService_GetAllViolations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllViolationsResponse" message="tns:IAdminService_GetAllViolations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteViolation">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteViolation" message="tns:IAdminService_DeleteViolation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteViolationResponse" message="tns:IAdminService_DeleteViolation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddViolationType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddViolationType" message="tns:IAdminService_AddViolationType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddViolationTypeResponse" message="tns:IAdminService_AddViolationType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditViolationType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditViolationType" message="tns:IAdminService_EditViolationType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditViolationTypeResponse" message="tns:IAdminService_EditViolationType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteViolationType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteViolationType" message="tns:IAdminService_DeleteViolationType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteViolationTypeResponse" message="tns:IAdminService_DeleteViolationType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddPerson" message="tns:IAdminService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddPersonResponse" message="tns:IAdminService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditPerson" message="tns:IAdminService_EditPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditPersonResponse" message="tns:IAdminService_EditPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeletePerson" message="tns:IAdminService_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeletePersonResponse" message="tns:IAdminService_DeletePerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="AddPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddPayment" message="tns:IUserService_AddPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddPaymentResponse" message="tns:IUserService_AddPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/EditPayment" message="tns:IUserService_EditPayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/EditPaymentResponse" message="tns:IUserService_EditPayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePayment">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeletePayment" message="tns:IUserService_DeletePayment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeletePaymentResponse" message="tns:IUserService_DeletePayment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddShift" message="tns:IUserService_AddShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddShiftResponse" message="tns:IUserService_AddShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddViolation">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddViolation" message="tns:IUserService_AddViolation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddViolationResponse" message="tns:IUserService_AddViolation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditViolation">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/EditViolation" message="tns:IUserService_EditViolation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/EditViolationResponse" message="tns:IUserService_EditViolation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllViolationTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllViolationTypes" message="tns:IUserService_GetAllViolationTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllViolationTypesResponse" message="tns:IUserService_GetAllViolationTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetPerson" message="tns:IUserService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetPersonResponse" message="tns:IUserService_GetPerson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceTcpEndpointAdmin" type="tns:IAdminService">
    <wsp:PolicyReference URI="#AdminServiceTcpEndpointAdmin_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Test">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/Test" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAdimn">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddAdimn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditAdmin">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAdmins">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/getAllAdmins" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditShift">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllViolations">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetAllViolations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteViolation">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeleteViolation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddViolationType">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddViolationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditViolationType">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditViolationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteViolationType">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeleteViolationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeletePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceTcpEndpointUser" type="tns:IUserService">
    <wsp:PolicyReference URI="#UserServiceTcpEndpointUser_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="AddPayment">
      <soap12:operation soapAction="http://tempuri.org/IUserService/AddPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPayment">
      <soap12:operation soapAction="http://tempuri.org/IUserService/EditPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePayment">
      <soap12:operation soapAction="http://tempuri.org/IUserService/DeletePayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddShift">
      <soap12:operation soapAction="http://tempuri.org/IUserService/AddShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddViolation">
      <soap12:operation soapAction="http://tempuri.org/IUserService/AddViolation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditViolation">
      <soap12:operation soapAction="http://tempuri.org/IUserService/EditViolation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllViolationTypes">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetAllViolationTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="AdminServiceTcpEndpointAdmin" binding="tns:AdminServiceTcpEndpointAdmin">
      <soap12:address location="net.tcp://localhost:9007/AdminService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9007/AdminService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-4KEPV7Q</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="UserServiceTcpEndpointUser" binding="tns:UserServiceTcpEndpointUser">
      <soap12:address location="net.tcp://localhost:9007/UserService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9007/UserService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-4KEPV7Q</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>