Client/Connected Services/MainService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MainService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="AdminServiceTcpEndpointAdmin_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="UserServiceTcpEndpointUser_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GaiWcfService.Service" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/GaiWcfService.Dto" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdminService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="IAdminService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="IAdminService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SetTest_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTest" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SetTest_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTestResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetTest_InputMessage" />
  <wsdl:message name="IAdminService_GetTest_OutputMessage">
    <wsdl:part xmlns:q1="http://schemas.microsoft.com/Message" name="GetTestResult" type="q1:MessageBody" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditUser_InputMessage">
    <wsdl:part name="parameters" element="tns:EditUser" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_getAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsers" />
  </wsdl:message>
  <wsdl:message name="IAdminService_getAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsers" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchUsersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteUser_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployee" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetEmployeeByUserLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByUserLogin" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetEmployeeByUserLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetEmployeeById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetEmployeeById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployee" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployees" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployee" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_OpenShift_InputMessage">
    <wsdl:part name="parameters" element="tns:OpenShift" />
  </wsdl:message>
  <wsdl:message name="IAdminService_OpenShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:OpenShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CloseShift_InputMessage">
    <wsdl:part name="parameters" element="tns:CloseShift" />
  </wsdl:message>
  <wsdl:message name="IAdminService_CloseShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloseShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCurrentShift_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentShift" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetCurrentShift_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentShiftResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllShiftsByResponsibleId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllShiftsByResponsibleId" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllShiftsByResponsibleId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllShiftsByResponsibleIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetShiftById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetShiftById" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetShiftById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetShiftByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchViolations_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchViolations" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchViolations_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchViolationsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllViolationsByResponsibleId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolationsByResponsibleId" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllViolationsByResponsibleId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolationsByResponsibleIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchViolationsPenaltyRange_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchViolationsPenaltyRange" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchViolationsPenaltyRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchViolationsPenaltyRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchViolationsDateRange_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchViolationsDateRange" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchViolationsDateRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchViolationsDateRangeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddViolationType_InputMessage">
    <wsdl:part name="parameters" element="tns:AddViolationType" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddViolationType_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddViolationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditViolationType_InputMessage">
    <wsdl:part name="parameters" element="tns:EditViolationType" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditViolationType_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditViolationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteViolationType_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolationType" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeleteViolationType_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolationTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_AddPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:EditPerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_EditPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchPersons_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersons" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchPersons_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchPersonsByPaidPenalty_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonsByPaidPenalty" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchPersonsByPaidPenalty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonsByPaidPenaltyResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchPersonsByActualPenalty_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonsByActualPenalty" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SearchPersonsByActualPenalty_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchPersonsByActualPenaltyResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeletePerson_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_DeletePerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPerson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPerson" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPerson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPersonsWithExpiredPenalties_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsWithExpiredPenalties" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPersonsWithExpiredPenalties_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonsWithExpiredPenaltiesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPersonByPassportId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByPassportId" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPersonByPassportId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByPassportIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPaymentsByPersonId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentsByPersonId" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetPaymentsByPersonId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentsByPersonIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetLastNPayments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastNPayments" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetLastNPayments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastNPaymentsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllRoles_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRoles" />
  </wsdl:message>
  <wsdl:message name="IAdminService_GetAllRoles_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdminService_SendPenaltyExpired_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendPenaltyExpired" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllViolations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolations" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllViolations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolationsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddViolation_InputMessage">
    <wsdl:part name="parameters" element="tns:AddViolation" />
  </wsdl:message>
  <wsdl:message name="IUserService_AddViolation_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddViolationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditViolation_InputMessage">
    <wsdl:part name="parameters" element="tns:EditViolation" />
  </wsdl:message>
  <wsdl:message name="IUserService_EditViolation_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditViolationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteViolation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolation" />
  </wsdl:message>
  <wsdl:message name="IUserService_DeleteViolation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteViolationResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllViolationTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolationTypes" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetAllViolationTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllViolationTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPersonByDriverLicense_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByDriverLicense" />
  </wsdl:message>
  <wsdl:message name="IUserService_GetPersonByDriverLicense_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPersonByDriverLicenseResponse" />
  </wsdl:message>
  <wsdl:portType name="IAdminService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/Subscribe" message="tns:IAdminService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SubscribeResponse" message="tns:IAdminService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/Unsubscribe" message="tns:IAdminService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/UnsubscribeResponse" message="tns:IAdminService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SetTest" message="tns:IAdminService_SetTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SetTestResponse" message="tns:IAdminService_SetTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTest">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetTest" message="tns:IAdminService_GetTest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetTestResponse" message="tns:IAdminService_GetTest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddUser" message="tns:IAdminService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddUserResponse" message="tns:IAdminService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetUser" message="tns:IAdminService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetUserResponse" message="tns:IAdminService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditUser" message="tns:IAdminService_EditUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditUserResponse" message="tns:IAdminService_EditUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/getAllUsers" message="tns:IAdminService_getAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/getAllUsersResponse" message="tns:IAdminService_getAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchUsers" message="tns:IAdminService_SearchUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SearchUsersResponse" message="tns:IAdminService_SearchUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteUser" message="tns:IAdminService_DeleteUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteUserResponse" message="tns:IAdminService_DeleteUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddEmployee" message="tns:IAdminService_AddEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddEmployeeResponse" message="tns:IAdminService_AddEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByUserLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetEmployeeByUserLogin" message="tns:IAdminService_GetEmployeeByUserLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetEmployeeByUserLoginResponse" message="tns:IAdminService_GetEmployeeByUserLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetEmployeeById" message="tns:IAdminService_GetEmployeeById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetEmployeeByIdResponse" message="tns:IAdminService_GetEmployeeById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditEmployee" message="tns:IAdminService_EditEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditEmployeeResponse" message="tns:IAdminService_EditEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchEmployees" message="tns:IAdminService_SearchEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SearchEmployeesResponse" message="tns:IAdminService_SearchEmployees_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteEmployee" message="tns:IAdminService_DeleteEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteEmployeeResponse" message="tns:IAdminService_DeleteEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="OpenShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/OpenShift" message="tns:IAdminService_OpenShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/OpenShiftResponse" message="tns:IAdminService_OpenShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloseShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/CloseShift" message="tns:IAdminService_CloseShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/CloseShiftResponse" message="tns:IAdminService_CloseShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentShift">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetCurrentShift" message="tns:IAdminService_GetCurrentShift_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetCurrentShiftResponse" message="tns:IAdminService_GetCurrentShift_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllShiftsByResponsibleId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllShiftsByResponsibleId" message="tns:IAdminService_GetAllShiftsByResponsibleId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllShiftsByResponsibleIdResponse" message="tns:IAdminService_GetAllShiftsByResponsibleId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetShiftById">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetShiftById" message="tns:IAdminService_GetShiftById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetShiftByIdResponse" message="tns:IAdminService_GetShiftById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchViolations">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchViolations" message="tns:IAdminService_SearchViolations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SearchViolationsResponse" message="tns:IAdminService_SearchViolations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllViolationsByResponsibleId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllViolationsByResponsibleId" message="tns:IAdminService_GetAllViolationsByResponsibleId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllViolationsByResponsibleIdResponse" message="tns:IAdminService_GetAllViolationsByResponsibleId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchViolationsPenaltyRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchViolationsPenaltyRange" message="tns:IAdminService_SearchViolationsPenaltyRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SearchViolationsPenaltyRangeResponse" message="tns:IAdminService_SearchViolationsPenaltyRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchViolationsDateRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchViolationsDateRange" message="tns:IAdminService_SearchViolationsDateRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SearchViolationsDateRangeResponse" message="tns:IAdminService_SearchViolationsDateRange_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddViolationType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddViolationType" message="tns:IAdminService_AddViolationType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddViolationTypeResponse" message="tns:IAdminService_AddViolationType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditViolationType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditViolationType" message="tns:IAdminService_EditViolationType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditViolationTypeResponse" message="tns:IAdminService_EditViolationType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteViolationType">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeleteViolationType" message="tns:IAdminService_DeleteViolationType_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeleteViolationTypeResponse" message="tns:IAdminService_DeleteViolationType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/AddPerson" message="tns:IAdminService_AddPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/AddPersonResponse" message="tns:IAdminService_AddPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/EditPerson" message="tns:IAdminService_EditPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/EditPersonResponse" message="tns:IAdminService_EditPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPersons">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchPersons" message="tns:IAdminService_SearchPersons_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SearchPersonsResponse" message="tns:IAdminService_SearchPersons_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPersonsByPaidPenalty">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchPersonsByPaidPenalty" message="tns:IAdminService_SearchPersonsByPaidPenalty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SearchPersonsByPaidPenaltyResponse" message="tns:IAdminService_SearchPersonsByPaidPenalty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchPersonsByActualPenalty">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/SearchPersonsByActualPenalty" message="tns:IAdminService_SearchPersonsByActualPenalty_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SearchPersonsByActualPenaltyResponse" message="tns:IAdminService_SearchPersonsByActualPenalty_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/DeletePerson" message="tns:IAdminService_DeletePerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/DeletePersonResponse" message="tns:IAdminService_DeletePerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetPerson" message="tns:IAdminService_GetPerson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetPersonResponse" message="tns:IAdminService_GetPerson_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonsWithExpiredPenalties">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetPersonsWithExpiredPenalties" message="tns:IAdminService_GetPersonsWithExpiredPenalties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetPersonsWithExpiredPenaltiesResponse" message="tns:IAdminService_GetPersonsWithExpiredPenalties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonByPassportId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetPersonByPassportId" message="tns:IAdminService_GetPersonByPassportId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetPersonByPassportIdResponse" message="tns:IAdminService_GetPersonByPassportId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentsByPersonId">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetPaymentsByPersonId" message="tns:IAdminService_GetPaymentsByPersonId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetPaymentsByPersonIdResponse" message="tns:IAdminService_GetPaymentsByPersonId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastNPayments">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetLastNPayments" message="tns:IAdminService_GetLastNPayments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetLastNPaymentsResponse" message="tns:IAdminService_GetLastNPayments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <wsdl:input wsaw:Action="http://tempuri.org/IAdminService/GetAllRoles" message="tns:IAdminService_GetAllRoles_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/GetAllRolesResponse" message="tns:IAdminService_GetAllRoles_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendPenaltyExpired">
      <wsdl:output wsaw:Action="http://tempuri.org/IAdminService/SendPenaltyExpired" message="tns:IAdminService_SendPenaltyExpired_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IUserService">
    <wsdl:operation name="GetAllViolations">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllViolations" message="tns:IUserService_GetAllViolations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllViolationsResponse" message="tns:IUserService_GetAllViolations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddViolation">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/AddViolation" message="tns:IUserService_AddViolation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/AddViolationResponse" message="tns:IUserService_AddViolation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditViolation">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/EditViolation" message="tns:IUserService_EditViolation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/EditViolationResponse" message="tns:IUserService_EditViolation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteViolation">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/DeleteViolation" message="tns:IUserService_DeleteViolation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/DeleteViolationResponse" message="tns:IUserService_DeleteViolation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllViolationTypes">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetAllViolationTypes" message="tns:IUserService_GetAllViolationTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetAllViolationTypesResponse" message="tns:IUserService_GetAllViolationTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPersonByDriverLicense">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserService/GetPersonByDriverLicense" message="tns:IUserService_GetPersonByDriverLicense_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserService/GetPersonByDriverLicenseResponse" message="tns:IUserService_GetPersonByDriverLicense_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminServiceTcpEndpointAdmin" type="tns:IAdminService">
    <wsp:PolicyReference URI="#AdminServiceTcpEndpointAdmin_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Subscribe">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/Subscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTest">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/SetTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTest">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditUser">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllUsers">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/getAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchUsers">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/SearchUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddEmployee">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeByUserLogin">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetEmployeeByUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeById">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetEmployeeById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditEmployee">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchEmployees">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/SearchEmployees" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmployee">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeleteEmployee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OpenShift">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/OpenShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloseShift">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/CloseShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentShift">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetCurrentShift" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllShiftsByResponsibleId">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetAllShiftsByResponsibleId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetShiftById">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetShiftById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchViolations">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/SearchViolations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllViolationsByResponsibleId">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetAllViolationsByResponsibleId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchViolationsPenaltyRange">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/SearchViolationsPenaltyRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchViolationsDateRange">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/SearchViolationsDateRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddViolationType">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddViolationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditViolationType">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditViolationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteViolationType">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeleteViolationType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/AddPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditPerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/EditPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPersons">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/SearchPersons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPersonsByPaidPenalty">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/SearchPersonsByPaidPenalty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchPersonsByActualPenalty">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/SearchPersonsByActualPenalty" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/DeletePerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPerson">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetPerson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonsWithExpiredPenalties">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetPersonsWithExpiredPenalties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonByPassportId">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetPersonByPassportId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPaymentsByPersonId">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetPaymentsByPersonId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastNPayments">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetLastNPayments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRoles">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/GetAllRoles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPenaltyExpired">
      <soap12:operation soapAction="http://tempuri.org/IAdminService/SendPenaltyExpired" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserServiceTcpEndpointUser" type="tns:IUserService">
    <wsp:PolicyReference URI="#UserServiceTcpEndpointUser_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetAllViolations">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetAllViolations" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddViolation">
      <soap12:operation soapAction="http://tempuri.org/IUserService/AddViolation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditViolation">
      <soap12:operation soapAction="http://tempuri.org/IUserService/EditViolation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteViolation">
      <soap12:operation soapAction="http://tempuri.org/IUserService/DeleteViolation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllViolationTypes">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetAllViolationTypes" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPersonByDriverLicense">
      <soap12:operation soapAction="http://tempuri.org/IUserService/GetPersonByDriverLicense" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MainService">
    <wsdl:port name="AdminServiceTcpEndpointAdmin" binding="tns:AdminServiceTcpEndpointAdmin">
      <soap12:address location="net.tcp://localhost:9007/AdminService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9007/AdminService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-4KEPV7Q</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="UserServiceTcpEndpointUser" binding="tns:UserServiceTcpEndpointUser">
      <soap12:address location="net.tcp://localhost:9007/UserService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:9007/UserService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Spn>host/DESKTOP-4KEPV7Q</Spn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>